name = "funding-rate-collector"
main = "src/index.ts"
compatibility_date = "2024-11-30"

compatibility_flags = ["nodejs_compat"]

[triggers]
crons = ["0 * * * *"]

[[d1_databases]]
binding = "DB"
database_name = "funding-rates-db"
database_id = "3331930c-2862-4372-b05a-b06c573d871f"  # â† ECHTE ID!
